.datePickerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 56px;
  background: var(--inputs);
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  border: none;
}

.calendarIcon {
  position: absolute;
  right: 16px;
  z-index: 1;
  color: var(--text);
  cursor: pointer;
}

.reactDatepicker__day:hover {
  background-color: var(--button);
}

.reactDatepicker__day__selected {
  background-color: var(--text);
  color: white;
}

.reactDatepicker__day__disabled {
  opacity: 0.4;
  pointer-events: none;
}
